<html>
    <head>
	<style>
		body
		{
			font-family:Georgia, serif;
			background-color:grey;
			font-size:40px;
			color:black;
			text-align:center;
		
		}
		form
		{
			font-family:Times New Roman;
			text-align:left;
			font-size:16px
		}
	</style>
    </head>
    <body>
        Hello this is Manual Page
        <form action="http://localhost:5000/Manual" method="post">
            <label for="containers">Choose a container:
            <select id="containers" name="containers">
              <option value="hisat2">hisat2</option>
              <option value="stringtie">Stringtie</option>
              <option value="deseq2">DESeq2</option>
              <option value="fastx_toolkit">fastx_toolkit</option>
            </select></label> <br>
            Enter your command as per your container selected :<input type="text" name="t1"><br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>
